* {
    box-sizing: border-box;
  }
  
:root {
    --color-1: #242526;
    --color-2: white;
    --color-3: #0084ff;
    --color-4: grey;
    --color-5: #eb4034;
    --color-6: #333;
}


.home_container {
    position: relative;
    display: grid;
    overflow: hidden;
    height: calc(100vh - 70px);
    width: 100vw;
  }

.users_container {
  margin-top: 10px;
  border-right: 2px solid var(--color-6);
  overflow-y: auto;
}
.user_wrapper {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.user_detail {
  display: flex;
  align-items: center;
}
.user_detail h4 {
  margin-left: 10px;
}

.user_status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

.online {
  background: #34eb52;
}
.offline {
  background: var(--color-5);
}

.messages_container {
    position: relative;
    width: 100%;
  }
.messages_user {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid var(--color-6);
}
.no_conv {
  font-size: 20px;
  color: var(--color-4);
  text-align: center;
}